
.change-theme-button:hover {
  background-color: rgb(199, 199, 199) !important;
}

.logo {
  transition: opacity 200ms;
}

.logo:hover {
  opacity: .7;
}

.tile {
  transition: scale 200ms !important;
}

.tile:hover {
  box-shadow: 0 0 18px 0 var(--hover-color) !important;
}

.tile:focus {
  box-shadow: 0 0 18px 0 var(--hover-color) !important;
}

.tile:active {
  scale: .9;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: hsl(0 0% 0% / .7);
  position: absolute;
  z-index: 100;
  display: grid;
  place-content: center;
}

.modal {
  display: grid;
  width: 50vw;
  height: 50vw;
  background-color: var(--bgc);
  border-radius: 30px;
  place-content: center;
  color: var(--text-color)
}

.modal p {
  font-size: 2rem;
}

.modal button {
  --s: 70%;
  --l: 56%;
  border: 0;
  border-bottom: 2px solid hsl(var(--hue), var(--s), 30%);
  padding: 1rem;
  border-radius: 5px;
  background-color: hsl(var(--hue), var(--s), var(--l));
  color: var(--text-color);
   /* background-color: hsl(60, 68%, 56%); */
  cursor: pointer;
}

.modal button:hover {
  --s: 90%;
}

.scores p {
  width: max-content;
}

@media (max-width: 804px) {
  .logo img {
    width: 22vw;
  }
  .header * {
    font-size: 1rem !important;
  }
  .header {
    padding: 2rem !important;
  }

}